@use "./_constants.scss" as *;

.color-preview {
    display: inline-block;
    vertical-align: middle;

    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 50%);
    border-radius: $size-button-radius;
}

.color-selector {
    display: flex;
    flex-direction: row;

    .color-sliders {
        display: inline-block;
        vertical-align: middle;
        margin-right: $size-label-spacing;

        * {
            vertical-align: middle;
        }

        .label-left {
            width: 16px;
        }

        input[type=range] {
            margin-right: $size-label-spacing;
            width: (20px + 256px);
        }

        input[type=text] {
            width: 50px;
            text-align: right;
        }
    }

    .color-preview-column {
        display: flex;
        flex-direction: column;

        * {
            text-align: right;
        }

        input[type=text] {
            width: 80px;
            margin: 1px;
            text-align: right;
        }
    }

    .color-preview {
        margin: 1px;
        width: 96px;
        height: 100%;
    }
}