@use "./_constants.scss" as *;

@keyframes out-of-gamut-pulse {
    from {
        outline-width: 0px;
        outline-offset: 0px;
    }

    50% {
        outline-width: 4px;
        outline-offset: 4px;
    }

    to {
        outline-width: 0px;
        outline-offset: 0px;
    }
}

.color-preview {
    display: inline-block;
    vertical-align: middle;

    background-color: #000;
    border: 1px solid rgba(0, 0, 0, 50%);
    border-radius: $size-button-radius;
}

.color-selector {
    display: flex;
    flex-direction: row;

    .color-sliders {
        display: inline-block;
        vertical-align: middle;
        margin-right: $size-label-spacing;

        * {
            vertical-align: middle;
        }

        .label-left {
            width: 16px;
        }

        input[type=range] {
            margin-right: $size-label-spacing;
            width: (20px + 256px);
            background: none;
            border-radius: $size-button-radius;
            outline: $color-section-warning-outline solid 0px;
            transition: outline-width 0.2s linear;

            &.out-of-gamut {
                background: repeating-linear-gradient(
                    -45deg,
                    $color-section-warning,
                    $color-section-warning 10px,
                    $color-section-warning-alt 10px,
                    $color-section-warning-alt 20px
                );

                animation: out-of-gamut-pulse 0.25s;
            }
        }

        input[type=text] {
            width: 50px;
            text-align: right;
        }
    }

    .color-preview-column {
        display: flex;
        flex-direction: column;

        * {
            text-align: right;
        }

        input[type=text] {
            width: 80px;
            margin: 1px;
            text-align: right;
        }
    }

    .color-preview {
        margin: 1px;
        width: 96px;
        height: 100%;
    }
}