$hue-background: 240;
$hue-section: 15;
$hue-button: 330;
$size-widget-outline: 1px;
$size-button-height: 4px;
$size-section-outline: 2px;
$size-section-padding: 10px;
$font-stack: Lato, sans-serif;
$color-background: hsl($hue-background, 20%, 65%);
$color-text: hsl($hue-section, 10%, 5%);
$color-section-background: hsl($hue-section, 15%, 90%);
$color-section-inset: rgba(255, 255, 255, 90%);
$color-section-border: hsl($hue-background, 20%, 40%);
$color-text-button: #fff;
$color-button: hsl($hue-button, 75%, 45%);
$color-button-hover: hsl($hue-button, 75%, 60%);
$color-button-inset: rgba(255, 255, 255, 35%);
$color-button-focus: rgba(255, 255, 255, 100%);
$color-button-border: hsl($hue-button, 75%, 15%);
$color-button-border-hover: hsl($hue-button, 75%, 25%);
