$hue-background: 240;
$hue-section: 15;
$hue-accent: 330;
$hue-warning: 5;
$size-pixel-base: 62.5%;
$size-base-font: 1.6rem;
$size-section-outline: 0.2rem;
$size-section-padding: 1rem;
$size-section-radius: 1rem;
$size-popup-margin: 0.4rem;
$size-widget-outline: 0.1rem;
$size-widget-focus-outline: 0.2rem;
$size-button-height: 0.4rem;
$size-button-radius: 0.4rem;
$size-radio-button-height: 0.3rem;
$size-label-spacing: 0.8rem;
$size-list-padding: 0.6rem;
$size-scrollbar-width: 2rem;
$size-chip-height: 0.2rem;
$font-stack: Lato, sans-serif;
$font-weight-normal: 400;
$font-weight-heading: 600;
$color-background: hsl($hue-background, 20%, 65%);
$color-text: hsl($hue-section, 10%, 5%);
$color-text-disabled: hsl($hue-section, 2%, 40%);
$color-selected: hsl($hue-accent, 75%, 45%);
$color-text-selected: #fff;
$color-text-radio-button: #111;
$color-section-background: hsl($hue-section, 15%, 90%);
$color-section-inset: rgba(255, 255, 255, 90%);
$color-section-border: hsl($hue-background, 15%, 40%);
$color-section-warning: hsl($hue-warning, 50%, 70%);
$color-section-warning-alt: hsl($hue-warning, 50%, 60%);
$color-section-warning-outline: hsl($hue-warning, 80%, 50%);
$color-section-gray: hsl($hue-background, 12%, 70%);
$color-section-gray-border: hsl($hue-background, 15%, 55%);
$color-popup-background: hsl($hue-section, 10%, 95%);
$color-tab: hsl($hue-background, 10%, 80%);
$color-tab-hover: hsl($hue-section, 10%, 93%);
$color-tab-active: hsl($hue-section, 10%, 98%);
$color-tab-border: hsl($hue-background, 15%, 65%);
$color-widget: hsl($hue-background, 15%, 80%);
$color-widget-hover: hsl($hue-background, 15%, 90%);
$color-widget-border: hsl($hue-background, 15%, 25%);
$color-widget-border-hover: hsl($hue-background, 15%, 35%);
$color-widget-border-soft: hsl($hue-background, 15%, 50%);
$color-widget-accent: hsl($hue-accent, 75%, 45%);
$color-widget-accent-hover: hsl($hue-accent, 75%, 60%);
$color-widget-accent-inset: rgba(255, 255, 255, 35%);
$color-widget-accent-focus: rgba(255, 255, 255, 100%);
$color-widget-accent-border: hsl($hue-accent, 75%, 15%);
$color-widget-accent-border-hover: hsl($hue-accent, 75%, 25%);
$color-field-background: hsl($hue-section, 10%, 98%);
$color-slider: hsl($hue-background, 15%, 60%);
$color-slider-hover: hsl($hue-background, 15%, 70%);
$color-slider-border: hsl($hue-background, 15%, 15%);
$color-slider-border-hover: hsl($hue-background, 15%, 25%);
$color-slider-recess: hsl($hue-background, 10%, 80%);
$color-radio-button: hsl($hue-background, 15%, 75%);
$color-radio-button-hover: hsl($hue-background, 15%, 90%);
$color-radio-button-border: hsl($hue-background, 15%, 15%);
$color-radio-button-border-hover: hsl($hue-background, 15%, 25%);
$color-palette-active-light: #111;
$color-palette-active-dark: #eee;
