$hue-background: 240;
$hue-section: 15;
$hue-button: 330;
$size-section-outline: 2px;
$size-section-padding: 10px;
$size-widget-outline: 1px;
$size-button-height: 4px;
$size-button-radius: 4px;
$size-radio-button-height: 3px;
$size-label-spacing: 8px;
$font-stack: Lato, sans-serif;
$color-background: hsl($hue-background, 20%, 65%);
$color-text: hsl($hue-section, 10%, 5%);
$color-selected: hsl($hue-button, 75%, 45%);
$color-text-selected: #fff;
$color-text-button: #fff;
$color-text-radio-button: #111;
$color-section-background: hsl($hue-section, 15%, 90%);
$color-section-inset: rgba(255, 255, 255, 90%);
$color-section-border: hsl($hue-background, 20%, 40%);
$color-tab: hsl($hue-background, 10%, 80%);
$color-tab-hover: hsl($hue-section, 10%, 93%);
$color-tab-active: hsl($hue-section, 10%, 98%);
$color-tab-border: hsl($hue-background, 15%, 65%);
$color-button: hsl($hue-button, 75%, 45%);
$color-button-hover: hsl($hue-button, 75%, 60%);
$color-button-inset: rgba(255, 255, 255, 35%);
$color-button-focus: rgba(255, 255, 255, 100%);
$color-button-border: hsl($hue-button, 75%, 15%);
$color-button-border-hover: hsl($hue-button, 75%, 25%);
$color-field-background: hsl($hue-section, 10%, 98%);
$color-slider: hsl($hue-background, 15%, 60%);
$color-slider-hover: hsl($hue-background, 15%, 70%);
$color-slider-border: hsl($hue-background, 15%, 15%);
$color-slider-border-hover: hsl($hue-background, 15%, 25%);
$color-slider-recess: hsl($hue-background, 10%, 80%);
$color-radio-button: hsl($hue-background, 15%, 75%);
$color-radio-button-hover: hsl($hue-background, 15%, 90%);
$color-radio-button-border: hsl($hue-background, 15%, 15%);
$color-radio-button-border-hover: hsl($hue-background, 15%, 25%);
