@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;

$logo-width: 428px;
$logo-height: 64px;

#root {
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app-wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 128rem;
  max-height: 100%;
  padding: $size-section-padding;
  display: flex;
  flex-direction: column;
  gap: $size-section-padding;

  @media (max-width: $size-portrait-max) {
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: 100svh;
  }
}

.logo {
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: $logo-width;
  height: $logo-height;
  max-width: 100%;
}

#app-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: $size-section-padding;
  column-gap: 4rem;

  .logo {
    min-width: auto;
    max-width: $logo-width;
  }

  #menubar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    align-items: center;
    text-wrap: nowrap;

    button {
      @include raised-button($color-background-widget, $color-widget-border, 0);

      font-size: 1.8rem;
      padding: 1rem;

      &:disabled {
        @include raised-button($color-background-widget-disabled, $color-background-widget-disabled-border, 0);
      }

      &:not(:disabled) {
        &:hover,
        &:focus-visible {
          @include raised-button($color-background-widget-hover, $color-widget-border-hover, 0);
        }

        &:active,
        &.selected {
          @include raised-button($color-widget-accent-hover, $color-widget-accent-border, 1);
        }
      }

      &:focus-visible {
        @include widget-focus($color-widget-accent);

        &:active,
        &.selected {
          @include widget-focus($color-text-selected);
        }
      }
    }
  }
}

#app-body {
  display: flex;
  flex-direction: row;
  flex: 1;

  #app-columns {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex: 1;
    column-gap: $size-section-padding;

    @media (max-width: $size-portrait-max) {
      flex-direction: column;
      row-gap: $size-section-padding;
    }
  }
}

#document-sidebar {
  display: flex;
  flex-direction: row;
  overflow: hidden;

  @media (max-width: $size-portrait-max) {
    flex-direction: row;
    margin: 0 (-$size-section-padding);
  }
}

#document-sidebar-column {
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  gap: $size-section-padding;

  .section {
    width: 42.5rem;
  }

  @media (max-width: $size-portrait-max) {
    flex-direction: row;
    padding: 0 $size-section-padding ($size-scrollbar-flat + $size-section-padding) $size-section-padding;

    .section {
      width: auto;
    }
  }
}

#sidebar-color-selector {
  display: flex;
  flex-direction: column;

  @media (max-width: $size-portrait-max) {
    flex: 0;
  }
}

#sidebar-calculations {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (max-width: $size-portrait-max) {
    flex: 0;
  }
}

#sidebar-properties {
  display: flex;
  flex-direction: column;
  min-height: 16rem;
  max-height: 24rem;
  min-width: 42.5rem;
  flex: 2;

  @media (max-width: $size-portrait-max) {
    max-height: none;
    flex: 0;
  }
}

#document-palette {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  flex: 1;
  padding: calc($size-section-padding / 2);

  #palette-inner-bg {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.section-header {
  font-size: 2.2rem;
  font-weight: $font-weight-heading;
  margin-top: 0.1rem;
  margin-bottom: 0.9rem;
}

.section-subheader {
  font-size: 1.8rem;
  font-weight: $font-weight-heading;
  margin-top: 0.1rem;
  margin-bottom: 0.9rem;
}

input[type="text"].section-header-rename {
  width: 100%;
  font-size: 1.6rem;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;

  .header-bar-spacer {
    min-width: 1rem;
    flex: 1;
  }
}

.placeholder {
  color: $color-text-disabled;
  line-height: 1.25;
  text-align: center;
  width: 0;
  min-width: 100%;
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-oops-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  justify-content: center;
}
