@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app-wrapper {
  min-height: 100vh;
  width: 100%;
  max-width: 128rem;
  max-height: 100%;
  padding: $size-section-padding;
  display: flex;
  flex-direction: column;
  gap: $size-section-padding;
}

#app-header {
  display: flex;
  flex-direction: row;
  gap: 4rem;

  #logo {
    background-image: url("assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    min-width: 428px;
    min-height: 64px;
  }

  #menubar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    min-width: 48rem;

    button {
      @include raised-button($color-background-widget, $color-widget-border, 0);

      font-size: 1.8rem;
      padding: 1rem;

      &:hover,
      &:focus-visible {
        @include raised-button($color-background-widget-hover, $color-widget-border-hover, 0);
      }

      &:active,
      &.selected {
        @include raised-button($color-widget-accent-hover, $color-widget-accent-border, 1);
      }

      &:focus-visible {
        @include widget-focus($color-widget-accent);

        &:active,
        &.selected {
          @include widget-focus($color-text-selected);
        }
      }
    }
  }
}

#app-body {
  display: flex;
  flex-direction: row;
  flex: 1;

  #app-columns {
    display: flex;
    flex-direction: row;
    flex: 1;
    column-gap: $size-section-padding;
  }
}

#document-sidebar {
  display: flex;
  flex-direction: column;
  gap: $size-section-padding;
}

#sidebar-calculations {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#sidebar-properties {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
}

#sidebar-color-selector {
  display: flex;
  flex-direction: column;
}

#document-palette {
  display: flex;
  flex-direction: column;
  flex: 1;

  #palette-inner-bg {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.section-header {
  font-size: 2.2rem;
  font-weight: $font-weight-heading;
  margin-bottom: 1rem;
}

.section-subheader {
  font-size: 1.8rem;
  font-weight: $font-weight-heading;
  margin-bottom: 1rem;
}

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1rem;

  .header-bar-spacer {
    min-width: 1rem;
    flex: 1;
  }
}

.placeholder {
  color: $color-text-disabled;
  line-height: 1.25;
  text-align: center;
  width: 0;
  min-width: 100%;
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-oops-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
  justify-content: center;
}
