@use "./_constants.scss" as *;

.calc-grid {
  display: grid;
  grid-template-columns: auto auto;
  align-items: baseline;
  row-gap: 0.1rem;
  column-gap: 0.4rem;

  .grid-label {
    font-weight: $font-weight-heading;
    padding-right: 0.4rem;
  }

  .small-number-input {
    max-width: 6rem;
  }

  .tabbar {
    grid-column: 1 / span 2;
    justify-content: center;
  }
}
