@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;
@use "sass:color";

$size-palette-color-min: 2rem;
$size-palette-color-max: 8rem;
$color-ruler-tick: color.mix($color-section-gray-border, $color-section-gray, 50%);

@mixin box-corners($color, $thickness) {
  background-position:
    calc(-1 * $thickness) 0,
    0 calc(-1 * $thickness),
    calc(100% + $thickness) 0,
    0 calc(100% + $thickness);
  background-size:
    calc($thickness * 2) 100%,
    100% calc($thickness * 2),
    calc($thickness * 2) 100%,
    100% calc($thickness * 2);
  background-repeat: no-repeat;

  background-image: linear-gradient(0deg, $color, $color 25%, transparent 25%, transparent 75%, $color 75%),
    linear-gradient(90deg, $color, $color 25%, transparent 25%, transparent 75%, $color 75%),
    linear-gradient(0deg, $color, $color 25%, transparent 25%, transparent 75%, $color 75%),
    linear-gradient(90deg, $color, $color 25%, transparent 25%, transparent 75%, $color 75%);
}

input[type="text"].palette-rename {
  font-size: 1.8rem;
  max-width: 32rem;
  width: 100%;
}

.palette-header {
  display: flex;
  flex-direction: row;
  margin-bottom: calc($size-section-padding / 2);

  button {
    margin: 0.1rem 0.4rem;
    vertical-align: top;
  }
}

.palette-ruler-row {
  display: flex;
  flex-direction: row;
  margin: -0.4rem ($size-scrollbar-recess + $size-scrollbar-recess-spacing) 0.2rem (2.4rem + $size-widget-outline);
  overflow: hidden;
}

.palette-ruler-column {
  display: flex;
  flex-direction: row;
  background-color: $color-section-gray;
}

.palette-ruler-cel {
  color: $color-text-gray;
  font-size: 1.3rem;
  text-align: center;
  align-self: stretch;
  align-content: center;
  overflow: hidden;
  border-radius: 0.3rem;
  z-index: 2;

  &.palette-ruler-active {
    color: $color-text-selected;
    background-color: $color-section-gray-selected;
    font-weight: bold;
  }

  &.palette-ruler-cursor {
    outline: solid 0.2rem $color-section-gray-selected;
    outline-offset: -0.2rem;
    font-weight: bold;
  }
}

.palette-ruler-row-cel {
  min-width: $size-palette-color-min;
  max-width: $size-palette-color-max;
  padding: 0.4rem 0 0.2rem 0;
  flex: 1;
  position: relative;

  &:not(.palette-ruler-active):not(.palette-ruler-cursor):after {
    @include layered-pseudo-element(0.8rem, 0, 0.3rem, 0);

    border-left: 0.05rem solid $color-ruler-tick;
    border-right: 0.05rem solid $color-ruler-tick;
  }
}

.palette-ruler-column-cel {
  width: 2.6rem;
  min-width: 2.6rem;
  margin-right: 0.2rem + $size-widget-outline;

  position: relative;

  &:not(.palette-ruler-active):not(.palette-ruler-cursor):after {
    @include layered-pseudo-element(0, 0.3rem, 0, 1.6rem - $size-widget-outline);

    border-top: 0.05rem solid $color-ruler-tick;
    border-bottom: 0.05rem solid $color-ruler-tick;
  }
}

.palette {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  margin: -0.4rem;
  overflow: hidden;

  @media (max-height: $size-portrait-scroll-min) {
    flex: 1;
  }

  .palette-scroll {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    overflow-y: hidden;
    position: relative;
    padding: 0.5rem;
    outline: none;

    &.palette-scroll-ruler {
      padding-left: 0;
    }

    $right-offset: 0.4rem + $size-scrollbar-recess + $size-scrollbar-recess-spacing - $size-widget-outline;

    &:after {
      @include layered-pseudo-element(0.4rem, $right-offset, 0.4rem, 0.4rem);
      pointer-events: none;

      border: $size-widget-outline solid $color-section-border;
      border-radius: $size-button-radius;
      outline: $color-section-gray ($size-button-radius * 0.8 - ($size-widget-outline * 2)) solid;
    }

    &.palette-scroll-ruler:after {
      @include layered-pseudo-element(0.4rem, $right-offset, 0.4rem, 2.7rem + $size-widget-outline);
    }

    &:focus-visible:before {
      @include layered-pseudo-element(0.4rem, 0.4rem, 0.4rem, 0.4rem);
      pointer-events: none;
      z-index: 2;

      border-radius: $size-button-radius;
      outline: $color-widget-accent 0.2rem solid;
      outline-offset: 0.1rem;
    }

    &.palette-scroll-ruler:focus-visible:before {
      @include layered-pseudo-element(0.4rem, 0.4rem, 0.4rem, 2.7rem + $size-widget-outline);
    }

    [data-overlayscrollbars-contents] {
      background-color: $color-section-gray-border;
    }

    @include scrollbar-with-recess();
  }

  &.cel-picker-active {
    cursor: crosshair;
  }
}

.palette-row {
  display: flex;
  flex-direction: row;
  flex: 1;

  .palette-cel {
    flex: 1;
  }
}

.palette-cel {
  min-width: $size-palette-color-min;
  min-height: $size-palette-color-min;
  max-width: $size-palette-color-max;
  max-height: $size-palette-color-max;
  margin: 0;
  padding: 0;
  aspect-ratio: 1;
  touch-action: manipulation;

  &.active-cel {
    position: relative;

    &:after {
      @include layered-pseudo-element(0.1rem, 0.1rem, 0.1rem, 0.1rem);

      pointer-events: none;
      z-index: 1;
    }

    &.light-color:after {
      @include box-corners($color-palette-active-light, 0.2rem);
    }

    &.dark-color:after {
      @include box-corners($color-palette-active-dark, 0.2rem);
    }
  }

  &.cursor-cel {
    &.light-color {
      outline: $color-palette-active-light dashed 0.1rem;
      outline-offset: -0.4rem;
    }

    &.dark-color {
      outline: $color-palette-active-dark dashed 0.1rem;
      outline-offset: -0.4rem;
    }
  }

  &.out-of-gamut {
    position: relative;

    &.light-color {
      color: $color-palette-active-light;
    }

    &.dark-color {
      color: $color-palette-active-dark;
    }

    &:before {
      content: "!";
      position: absolute;
      top: 0.4rem;
      bottom: 0.4rem;
      left: 0.4rem;
      right: 0.4rem;
      pointer-events: none;

      font-weight: $font-weight-heading;
    }

    &.really-out-of-gamut:before {
      content: "!!";
    }
  }
}

.palette-toolbar {
  display: inline-flex;
  flex-direction: row;
  gap: 0.2rem;

  button {
    width: 3.2rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
}

.palette-menu {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  align-items: center;
}

.palette-resizer-outside {
  display: grid;
  align-items: stretch;
  justify-items: stretch;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;

  .palette-resizer-updown {
    grid-column: 1 / span 3;
    text-align: center;
    align-content: center;

    button {
      width: 5rem;
    }
  }

  .palette-resizer-leftright {
    text-align: center;
    align-content: center;

    button {
      height: 5rem;
    }
  }

  .palette-resizer-inside {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: $color-widget-group;
    border: 0.1rem solid $color-widget-group-border;
    border-radius: $size-button-radius;

    .palette-resizer-inside-label {
      width: 8rem;
      height: 8rem;
      text-align: center;
      align-content: center;
    }
  }

  button {
    padding: 0.2rem;
    margin: 0.2rem 0.2rem 0.4rem 0.2rem;
    width: 3rem;
    height: 3rem;
  }
}

.palette-export-range {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: baseline;
  padding: 0.4rem;
  background-color: $color-widget-group;
  border: 0.1rem solid $color-widget-group-border;
  border-radius: $size-button-radius;
}
