@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;

@mixin popup-shadow($float-height, $shadow-size) {
  $height-offset: calc($size-button-height * ($float-height + 1));

  box-shadow:
    0 $size-button-height 0 0 var(--color-section-border),
    0 $size-button-height 0 0.1rem var(--color-popup-shadow-1),
    0 $height-offset 0 (0.4rem * $shadow-size) var(--color-popup-shadow-2),
    0 $height-offset 0 (1rem * $shadow-size) var(--color-popup-shadow-3);
}

@keyframes popup-fade-in {
  from {
    transform: translateY(0.4rem);
    opacity: 0%;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes popup-shadow-fade-in {
  from {
    @include popup-shadow(0, 1);

    opacity: 0%;
  }

  to {
    @include popup-shadow(1, 1);

    opacity: 100%;
  }
}

@keyframes modal-popup-shadow-fade-in {
  from {
    @include popup-shadow(0, 2);

    opacity: 0%;
  }

  to {
    @include popup-shadow(2, 2);

    opacity: 100%;
  }
}

.popup {
  background-color: var(--color-popup-background);
  border: $size-widget-outline solid var(--color-section-border);
  border-radius: $size-button-radius;
  margin: $size-popup-margin $size-popup-margin ($size-button-height + $size-popup-margin) $size-popup-margin;
  padding: $size-button-padding;
  position: relative;
  animation: popup-fade-in 0.15s;

  &:before {
    @include popup-shadow(1, 1);
    @include layered-pseudo-element(0, 0, 0, 0);

    pointer-events: none;
    animation: popup-shadow-fade-in 0.15s;

    border-radius: $size-button-radius;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 0 calc(($size-button-padding) * -1);

    @media (min-resolution: 150dpi) {
      font-size: 2rem;
    }

    li.menu-item {
      display: block;
      padding: ($size-list-padding + $size-widget-outline) ($size-list-padding + $size-button-padding);
      outline: none;
      touch-action: manipulation;

      &:hover:not(:focus-visible),
      &.menu-item-open {
        background-color: var(--color-selected-faded);
        color: var(--color-text-selected-menu);

        &.menu-item-disabled {
          color: var(--color-text-disabled);
        }
      }

      &:focus-visible {
        background-color: var(--color-selected);
        color: var(--color-text-selected);

        &.menu-item-disabled {
          color: var(--color-text-disabled);
        }
      }

      &.menu-item-disabled {
        color: var(--color-text-disabled);
      }

      &.menu-item-submenu {
        padding-right: 2rem;
        position: relative;

        &:after {
          display: inline-block;
          position: absolute;
          width: 0;
          height: 0;
          top: 35%;
          right: 0.4rem;
          content: "";
          border: 0.5rem solid transparent;
          border-left-color: currentColor;
        }
      }
    }

    li.menu-separator {
      display: block;
      padding: calc($size-list-padding * 0.5) ($size-list-padding + $size-button-padding);

      @media (min-resolution: 150dpi) {
        padding: calc($size-list-padding * 0.75) ($size-list-padding + $size-button-padding);
      }
    }
  }
}

.popup-overlay {
  touch-action: manipulation;
}

.modal-popup {
  background-color: var(--color-section-background);
  border: $size-widget-outline solid var(--color-section-border);
  border-radius: $size-button-radius;
  margin: $size-popup-margin $size-popup-margin ($size-button-height + $size-popup-margin) $size-popup-margin;
  padding: $size-button-padding;
  position: relative;
  animation: popup-fade-in 0.5s;

  &:before {
    @include popup-shadow(2, 2);
    @include layered-pseudo-element(0, 0, 0, 0);

    pointer-events: none;
    animation: modal-popup-shadow-fade-in 0.5s;

    border-radius: $size-button-radius;
  }

  .modal-popup-header {
    display: flex;
    flex-direction: column;
    padding: $size-section-padding;
    margin: (-$size-section-padding) (-$size-section-padding) 0 (-$size-section-padding);
    gap: 1rem;
    align-self: stretch;
    align-items: center;
    text-align: center;
    justify-content: center;

    color: #fff;
    -webkit-text-stroke: 0.275rem #4f48bf;
    paint-order: stroke;
    background: linear-gradient(
      110deg,
      #4f48bf 6.25%,
      #266bc8 6.25%,
      #266bc8 12.5%,
      #0088c9 12.5%,
      #0088c9 18.75%,
      #00a1bd 18.75%,
      #00a1bd 25%,
      #00b9b2 25%,
      #00b9b2 31.25%,
      #40cb9e 31.25%,
      #40cb9e 37.5%,
      #7eda82 37.5%,
      #7eda82 43.75%,
      #c2e270 43.75%,
      #c2e270 50%,
      #fae770 50%,
      #fae770 56.25%,
      #ffc24d 56.25%,
      #ffc24d 62.5%,
      #ff9c49 62.5%,
      #ff9c49 68.75%,
      #fe775d 68.75%,
      #fe775d 75%,
      #e95979 75%,
      #e95979 81.25%,
      #cd4d98 81.25%,
      #cd4d98 87.5%,
      #aa49b0 87.5%,
      #aa49b0 93.75%,
      #8047be 93.75%,
      #8047be 100%
    );
    border-bottom: 0.1rem solid #4f48bf;

    @media (prefers-color-scheme: dark) {
      color: var(--color-text);
      background: linear-gradient(
        110deg,
        #3d26ae 6.25%,
        #1952af 6.25%,
        #1952af 12.5%,
        #006fa6 12.5%,
        #006fa6 18.75%,
        #00879f 18.75%,
        #00879f 25%,
        #009d97 25%,
        #009d97 31.25%,
        #40b187 31.25%,
        #40b187 37.5%,
        #61c167 37.5%,
        #61c167 43.75%,
        #a8c853 43.75%,
        #a8c853 50%,
        #e0cc55 50%,
        #e0cc55 56.25%,
        #eca71f 56.25%,
        #eca71f 62.5%,
        #ef7f16 62.5%,
        #ef7f16 68.75%,
        #e8573c 68.75%,
        #e8573c 75%,
        #d5305f 75%,
        #d5305f 81.25%,
        #b82582 81.25%,
        #b82582 87.5%,
        #94239d 87.5%,
        #94239d 93.75%,
        #6b24ac 93.75%,
        #6b24ac 100%
      );
      border-bottom: 0.1rem solid #3d26ae;
    }

    &.modal-popup-header-spaced {
      padding: ($size-section-padding * 2) ($size-section-padding * 4);
      margin: (-$size-section-padding) (-$size-section-padding) ($size-section-padding * 2) (-$size-section-padding);
    }

    &.danger {
      -webkit-text-stroke: 0.3rem var(--color-widget-danger-border);

      background: linear-gradient(
        -45deg,
        var(--color-widget-danger) 6.25%,
        var(--color-widget-danger-alt) 6.25%,
        var(--color-widget-danger-alt) 12.5%,
        var(--color-widget-danger) 12.5%,
        var(--color-widget-danger) 18.75%,
        var(--color-widget-danger-alt) 18.75%,
        var(--color-widget-danger-alt) 25%,
        var(--color-widget-danger) 25%,
        var(--color-widget-danger) 31.25%,
        var(--color-widget-danger-alt) 31.25%,
        var(--color-widget-danger-alt) 37.5%,
        var(--color-widget-danger) 37.5%,
        var(--color-widget-danger) 43.75%,
        var(--color-widget-danger-alt) 43.75%,
        var(--color-widget-danger-alt) 50%,
        var(--color-widget-danger) 50%,
        var(--color-widget-danger) 56.25%,
        var(--color-widget-danger-alt) 56.25%,
        var(--color-widget-danger-alt) 62.5%,
        var(--color-widget-danger) 62.5%,
        var(--color-widget-danger) 68.75%,
        var(--color-widget-danger-alt) 68.75%,
        var(--color-widget-danger-alt) 75%,
        var(--color-widget-danger) 75%,
        var(--color-widget-danger) 81.25%,
        var(--color-widget-danger-alt) 81.25%,
        var(--color-widget-danger-alt) 87.5%,
        var(--color-widget-danger) 87.5%,
        var(--color-widget-danger) 93.75%,
        var(--color-widget-danger-alt) 93.75%,
        var(--color-widget-danger-alt) 100%
      );
      border-bottom: 0.1rem solid var(--color-widget-danger-alt);
    }
  }
}

.modal-popup-overlay {
  background-color: var(--color-popup-overlay);
  animation: popup-fade-in 0.5s;
  touch-action: manipulation;
}

.popup-message-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  max-width: 80rem;

  .button-bar {
    align-self: center;

    button {
      min-width: 12rem;
    }
  }
}
