@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;
@use "sass:color";

@mixin popup-shadow($float-height, $shadow-size) {
  $height-offset: calc($size-button-height * ($float-height + 1));

  box-shadow:
    0 $size-button-height 0 0 $color-popup-border,
    0 $size-button-height 0 0.1rem color.adjust($color-section-shadow, $alpha: -0.3),
    0 $height-offset 0 (0.4rem * $shadow-size) color.adjust($color-section-shadow, $alpha: -0.8),
    0 $height-offset 0 (1rem * $shadow-size) color.adjust($color-section-shadow, $alpha: -0.9);
}

@keyframes popup-fade-in {
  from {
    transform: translateY(0.4rem);
    opacity: 0%;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes popup-shadow-fade-in {
  from {
    @include popup-shadow(0, 1);

    opacity: 0%;
  }

  to {
    @include popup-shadow(1, 1);

    opacity: 100%;
  }
}

@keyframes modal-popup-shadow-fade-in {
  from {
    @include popup-shadow(0, 2);

    opacity: 0%;
  }

  to {
    @include popup-shadow(2, 2);

    opacity: 100%;
  }
}

.popup {
  background-color: $color-popup-background;
  border: $size-widget-outline solid $color-popup-border;
  border-radius: $size-button-radius;
  margin: $size-popup-margin $size-popup-margin ($size-button-height + $size-popup-margin) $size-popup-margin;
  padding: $size-button-padding;
  position: relative;
  animation: popup-fade-in 0.15s;

  &:before {
    @include popup-shadow(1, 1);
    @include layered-pseudo-element(0, 0, 0, 0);

    pointer-events: none;
    animation: popup-shadow-fade-in 0.15s;

    border-radius: $size-button-radius;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 0 calc(($size-button-padding) * -1);

    @media (min-resolution: 150dpi) {
      font-size: 2rem;
    }

    li.menu-item {
      display: block;
      padding: ($size-list-padding + $size-widget-outline) ($size-list-padding + $size-button-padding);
      outline: none;
      touch-action: manipulation;

      &:hover:not(:focus-visible),
      &.menu-item-open {
        background-color: color.adjust($color-selected, $alpha: -0.7);
        color: color.adjust($color-text, $lightness: -100%);
      }

      &:focus-visible {
        background-color: $color-selected;
        color: $color-text-selected;
      }

      &.menu-item-submenu {
        padding-right: 2rem;
        position: relative;

        &:after {
          display: inline-block;
          position: absolute;
          width: 0;
          height: 0;
          top: 35%;
          right: 0.4rem;
          content: "";
          border: 0.5rem solid transparent;
          border-left-color: currentColor;
        }
      }
    }

    li.menu-separator {
      display: block;
      padding: calc($size-list-padding * 0.5) ($size-list-padding + $size-button-padding);

      @media (min-resolution: 150dpi) {
        padding: calc($size-list-padding * 0.75) ($size-list-padding + $size-button-padding);
      }
    }
  }
}

.popup-overlay {
  touch-action: manipulation;
}

.modal-popup {
  background-color: $color-popup-background;
  border: $size-widget-outline solid $color-popup-border;
  border-radius: $size-button-radius;
  margin: $size-popup-margin $size-popup-margin ($size-button-height + $size-popup-margin) $size-popup-margin;
  padding: $size-button-padding;
  position: relative;
  animation: popup-fade-in 0.5s;

  &:before {
    @include popup-shadow(2, 2);
    @include layered-pseudo-element(0, 0, 0, 0);

    pointer-events: none;
    animation: modal-popup-shadow-fade-in 0.5s;

    border-radius: $size-button-radius;
  }

  .modal-popup-header {
    display: flex;
    flex-direction: column;
    padding: $size-section-padding;
    margin: (-$size-section-padding) (-$size-section-padding) 0 (-$size-section-padding);
    align-self: stretch;
    align-items: center;
    justify-content: center;

    color: #fff;
    -webkit-text-stroke: 0.3rem #262060;
    paint-order: stroke;
    background: linear-gradient(
      110deg,
      #4f42c9 6.25%,
      #0267d9 6.25%,
      #0267d9 12.5%,
      #0087ca 12.5%,
      #0087ca 18.75%,
      #00a2bd 18.75%,
      #00a2bd 25%,
      #00bab2 25%,
      #00bab2 31.25%,
      #00cf9b 31.25%,
      #00cf9b 37.5%,
      #7bdb80 37.5%,
      #7bdb80 43.75%,
      #c1e26e 43.75%,
      #c1e26e 50%,
      #fae770 50%,
      #fae770 56.25%,
      #ffc146 56.25%,
      #ffc146 62.5%,
      #ff9a43 62.5%,
      #ff9a43 68.75%,
      #ff7156 68.75%,
      #ff7156 75%,
      #f24e76 75%,
      #f24e76 81.25%,
      #d4439a 81.25%,
      #d4439a 87.5%,
      #ae40b6 87.5%,
      #ae40b6 93.75%,
      #8240c7 93.75%,
      #8240c7 100%
    );
    border-bottom: 0.1rem solid #4f42c9;

    &.modal-popup-header-spaced {
      padding: ($size-section-padding * 2);
      margin: (-$size-section-padding) (-$size-section-padding) ($size-section-padding * 2) (-$size-section-padding);
    }

    &.danger {
      -webkit-text-stroke: 0.3rem $color-widget-danger-border;

      background: linear-gradient(
        -45deg,
        $color-header-danger 6.25%,
        $color-header-danger-alt 6.25%,
        $color-header-danger-alt 12.5%,
        $color-header-danger 12.5%,
        $color-header-danger 18.75%,
        $color-header-danger-alt 18.75%,
        $color-header-danger-alt 25%,
        $color-header-danger 25%,
        $color-header-danger 31.25%,
        $color-header-danger-alt 31.25%,
        $color-header-danger-alt 37.5%,
        $color-header-danger 37.5%,
        $color-header-danger 43.75%,
        $color-header-danger-alt 43.75%,
        $color-header-danger-alt 50%,
        $color-header-danger 50%,
        $color-header-danger 56.25%,
        $color-header-danger-alt 56.25%,
        $color-header-danger-alt 62.5%,
        $color-header-danger 62.5%,
        $color-header-danger 68.75%,
        $color-header-danger-alt 68.75%,
        $color-header-danger-alt 75%,
        $color-header-danger 75%,
        $color-header-danger 81.25%,
        $color-header-danger-alt 81.25%,
        $color-header-danger-alt 87.5%,
        $color-header-danger 87.5%,
        $color-header-danger 93.75%,
        $color-header-danger-alt 93.75%,
        $color-header-danger-alt 100%
      );
    }
  }
}

.modal-popup-overlay {
  background-color: color.adjust($color-background, $alpha: -0.25);
  animation: popup-fade-in 0.5s;
  touch-action: manipulation;
}

.popup-message-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  max-width: 80rem;

  .button-bar {
    align-self: center;

    button {
      min-width: 12rem;
    }
  }
}
