:root {
  color-scheme: light only;

  --hue-background: 240;
  --hue-section: 260;
  --hue-accent: 330;
  --hue-warning: 5;
  --color-background: hsl(var(--hue-background), 20%, 75%);
  --color-text: hsl(var(--hue-section), 10%, 2%);
  --color-text-link: hsl(var(--hue-accent), 75%, 40%);
  --color-text-disabled: hsl(var(--hue-section), 2%, 40%);
  --color-text-gray: color-mix(in hsl, var(--color-text) 80%, var(--color-section-gray));
  --color-text-selected: #fff;
  --color-text-selected-menu: #000;
  --color-text-selected-gray: #fff;
  --color-icon-outline: hsl(var(--hue-section), 2%, 98%);
  --color-selected: hsl(var(--hue-accent), 75%, 45%);
  --color-selected-faded: hsl(var(--hue-accent), 50%, 80%);
  --color-section-background: hsl(var(--hue-section), 10%, 92%);
  --color-section-inset: rgba(255, 255, 255, 90%);
  --color-section-border: hsl(var(--hue-background), 10%, 40%);
  --color-section-warning: hsl(var(--hue-warning), 50%, 70%);
  --color-section-warning-alt: hsl(var(--hue-warning), 50%, 60%);
  --color-section-warning-outline: hsl(var(--hue-warning), 80%, 50%);
  --color-section-gray: hsl(var(--hue-background), 10%, 75%);
  --color-section-gray-selected: hsl(var(--hue-background), 10%, 50%);
  --color-section-gray-border: hsl(var(--hue-background), 10%, 55%);
  --color-section-gray-tick: hsl(var(--hue-background), 10%, 65%);
  --color-popup-background: hsl(var(--hue-section), 10%, 96%);
  --color-popup-overlay: hsla(var(--hue-background), 20%, 75%, 75%);
  --color-popup-shadow-1: hsla(var(--hue-background), 20%, 20%, 70%);
  --color-popup-shadow-2: hsla(var(--hue-background), 20%, 20%, 20%);
  --color-popup-shadow-3: hsla(var(--hue-background), 20%, 20%, 10%);
  --color-tab: hsl(var(--hue-background), 10%, 80%);
  --color-tab-hover: hsl(var(--hue-section), 10%, 93%);
  --color-tab-active: hsl(var(--hue-section), 10%, 99%);
  --color-tab-border: hsl(var(--hue-background), 10%, 65%);
  --color-widget: hsl(var(--hue-background), 10%, 80%);
  --color-widget-hover: hsl(var(--hue-background), 10%, 96%);
  --color-widget-border: hsl(var(--hue-background), 10%, 25%);
  --color-widget-border-hover: hsl(var(--hue-background), 10%, 35%);
  --color-widget-accent: hsl(var(--hue-accent), 75%, 45%);
  --color-widget-accent-hover: hsl(var(--hue-accent), 75%, 70%);
  --color-widget-inset: rgba(255, 255, 255, 50%);
  --color-widget-accent-border: hsl(var(--hue-accent), 75%, 15%);
  --color-widget-accent-border-hover: hsl(var(--hue-accent), 75%, 25%);
  --color-widget-danger: hsl(var(--hue-warning), 70%, 50%);
  --color-widget-danger-alt: hsl(var(--hue-warning), 70%, 45%);
  --color-widget-danger-hover: hsl(var(--hue-warning), 70%, 60%);
  --color-widget-danger-alt-hover: hsl(var(--hue-warning), 70%, 50%);
  --color-widget-danger-active: hsl(var(--hue-warning), 90%, 30%);
  --color-widget-danger-alt-active: hsl(var(--hue-warning), 90%, 25%);
  --color-widget-danger-border: hsl(var(--hue-warning), 70%, 25%);
  --color-widget-disabled: hsla(var(--hue-background), 2%, 75%, 50%);
  --color-widget-disabled-border: hsl(var(--hue-background), 2%, 45%);
  --color-widget-group: hsl(var(--hue-background), 5%, 85%);
  --color-widget-group-border: hsl(var(--hue-background), 10%, 60%);
  --color-background-widget: hsl(var(--hue-section), 10%, 95%);
  --color-background-widget-hover: hsl(var(--hue-accent), 75%, 85%);
  --color-background-widget-disabled: hsla(var(--hue-background), 2%, 95%, 50%);
  --color-background-widget-disabled-border: hsl(var(--hue-background), 2%, 35%);
  --color-field-background: #fff;
  --color-field-background-disabled: hsla(var(--hue-section), 2%, 98%, 75%);
  --color-slider: hsl(var(--hue-background), 10%, 65%);
  --color-slider-hover: hsl(var(--hue-background), 10%, 80%);
  --color-slider-border: hsl(var(--hue-background), 10%, 10%);
  --color-slider-border-hover: hsl(var(--hue-background), 10%, 25%);
  --color-slider-recess: hsl(var(--hue-background), 5%, 80%);
  --color-palette-active-light: #111;
  --color-palette-active-dark: #eee;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark only;

    --color-background: hsl(var(--hue-background), 15%, 25%);
    --color-text: hsl(var(--hue-section), 10%, 94%);
    --color-text-link: hsl(var(--hue-accent), 75%, 60%);
    --color-text-disabled: hsl(var(--hue-section), 2%, 60%);
    --color-text-selected: #fff;
    --color-text-selected-menu: #fff;
    --color-text-selected-gray: #000;
    --color-icon-outline: hsl(var(--hue-section), 2%, 10%);
    --color-selected-faded: hsl(var(--hue-accent), 50%, 35%);
    --color-section-background: hsl(var(--hue-section), 8%, 30%);
    --color-section-inset: rgba(255, 255, 255, 15%);
    --color-section-border: hsl(var(--hue-background), 8%, 10%);
    --color-section-warning: hsl(var(--hue-warning), 50%, 60%);
    --color-section-warning-alt: hsl(var(--hue-warning), 50%, 50%);
    --color-section-warning-outline: hsl(var(--hue-warning), 80%, 50%);
    --color-section-gray: hsl(var(--hue-background), 8%, 38%);
    --color-section-gray-selected: hsl(var(--hue-background), 8%, 70%);
    --color-section-gray-border: hsl(var(--hue-background), 8%, 20%);
    --color-section-gray-tick: hsl(var(--hue-background), 8%, 55%);
    --color-popup-background: hsl(var(--hue-section), 10%, 28%);
    --color-popup-overlay: hsla(var(--hue-background), 20%, 20%, 75%);
    --color-popup-shadow-1: hsla(var(--hue-background), 20%, 10%, 70%);
    --color-popup-shadow-2: hsla(var(--hue-background), 20%, 10%, 20%);
    --color-popup-shadow-3: hsla(var(--hue-background), 20%, 10%, 10%);
    --color-tab: hsl(var(--hue-background), 10%, 25%);
    --color-tab-hover: hsl(var(--hue-section), 10%, 36%);
    --color-tab-active: hsl(var(--hue-section), 10%, 40%);
    --color-tab-border: hsl(var(--hue-background), 10%, 10%);
    --color-widget: hsl(var(--hue-background), 10%, 45%);
    --color-widget-hover: hsl(var(--hue-background), 10%, 55%);
    --color-widget-border: hsl(var(--hue-background), 10%, 10%);
    --color-widget-border-hover: hsl(var(--hue-background), 10%, 15%);
    --color-widget-accent: hsl(var(--hue-accent), 75%, 35%);
    --color-widget-accent-hover: hsl(var(--hue-accent), 75%, 50%);
    --color-widget-inset: rgba(255, 255, 255, 20%);
    --color-widget-accent-border: hsl(var(--hue-accent), 50%, 10%);
    --color-widget-accent-border-hover: hsl(var(--hue-accent), 50%, 15%);
    --color-widget-disabled: hsla(var(--hue-background), 2%, 40%, 50%);
    --color-widget-disabled-border: hsl(var(--hue-background), 2%, 20%);
    --color-widget-group: hsl(var(--hue-section), 10%, 24%);
    --color-widget-group-border: hsl(var(--hue-section), 10%, 15%);
    --color-background-widget: hsl(var(--hue-section), 10%, 35%);
    --color-background-widget-hover: hsl(var(--hue-accent), 75%, 28%);
    --color-background-widget-disabled: hsla(var(--hue-background), 2%, 35%, 50%);
    --color-background-widget-disabled-border: hsl(var(--hue-background), 2%, 15%);
    --color-field-background: hsl(var(--hue-section), 2%, 15%);
    --color-field-background-disabled: hsla(var(--hue-section), 2%, 15%, 50%);
    --color-slider: hsl(var(--hue-background), 10%, 45%);
    --color-slider-hover: hsl(var(--hue-background), 10%, 60%);
    --color-slider-border: hsl(var(--hue-background), 10%, 10%);
    --color-slider-border-hover: hsl(var(--hue-background), 10%, 25%);
    --color-slider-recess: hsl(var(--hue-background), 5%, 22%);
  }
}
