@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;

$size-super-narrow: (66rem * 0.625);

#tutorial {
  width: 85rem;
  height: 65rem;
  max-width: 95vw;
  max-height: 95vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  p {
    text-indent: 4rem;
  }

  .tabbar-spaced > label.tabbar-tab {
    span {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .tutorial-scroll {
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;
  }

  .tutorial-page {
    margin: (2rem - $size-section-padding);
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
    align-items: flex-start;

    > div {
      align-self: center;
    }
  }

  .color-container {
    --palette-cel-size: 4rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border: $size-widget-outline solid $color-section-border;
    border-radius: $size-button-radius;

    &.color-container-large {
      --palette-cel-size: 5rem;
    }

    &.color-container-huge {
      --palette-cel-size: 10rem;
    }

    @media (max-width: $size-super-narrow) {
      --palette-cel-size: 2rem;

      &.color-container-large {
        --palette-cel-size: 3rem;
      }

      &.color-container-huge {
        --palette-cel-size: 6rem;
      }
    }
  }
}
