@use "./_constants.scss" as *;
@use "./_mixins.scss" as *;
@use "sass:color";

.section {
  @include raised-box-shadow(
    $color-section-inset,
    $color-section-border,
    calc($size-section-outline / 2),
    $size-button-height
  );

  background-color: $color-section-background;
  border: $size-section-outline solid $color-section-border;
  border-radius: $size-section-radius;
  margin-bottom: $size-button-height;
  padding: $size-section-padding;
}

@mixin popup-shadow($float-height) {
  box-shadow:
    0 calc($size-button-height * ($float-height + 1)) 0 0.4rem color.adjust($color-section-border, $alpha: -0.8),
    0 calc($size-button-height * ($float-height + 1)) 0 0.8rem color.adjust($color-section-border, $alpha: -0.9);
}

@keyframes popup-fade-in {
  from {
    transform: translateY(0.4rem);
    opacity: 0%;
  }

  to {
    transform: translateY(0);
    opacity: 100%;
  }
}

@keyframes popup-shadow-fade-in {
  from {
    @include popup-shadow(0);

    opacity: 0%;
  }

  to {
    @include popup-shadow(1);

    opacity: 100%;
  }
}

.popup {
  @include raised-box-shadow(
    $color-section-inset,
    $color-section-border,
    calc($size-widget-outline / 2),
    $size-button-height
  );

  background-color: $color-popup-background;
  border: $size-widget-outline solid $color-section-border;
  border-radius: $size-button-radius;
  margin: $size-popup-margin $size-popup-margin ($size-button-height + $size-popup-margin) $size-popup-margin;
  padding: $size-button-padding;
  position: relative;
  animation: popup-fade-in 0.15s;

  &:before {
    @include popup-shadow(1);
    @include layered-pseudo-element(0, 0, 0, 0);

    pointer-events: none;
    animation: popup-shadow-fade-in 0.15s;

    border-radius: $size-button-radius;
  }

  .menu {
    display: flex;
    flex-direction: column;
    margin: 0 calc(($size-button-padding) * -1);

    li.menu-item {
      display: block;
      padding: $size-list-padding ($size-list-padding + $size-button-padding);
      outline: none;

      &:hover:not(:focus-visible) {
        background-color: color.adjust($color-selected, $alpha: -0.7);
        color: color.adjust($color-text, $lightness: -100%);
      }

      &:focus-visible {
        background-color: $color-selected;
        color: $color-text-selected;
      }
    }

    li.menu-separator {
      display: block;
      padding: calc($size-list-padding / 2) ($size-list-padding + $size-button-padding);
    }
  }
}

.modal-popup-overlay {
  background-color: color.adjust($color-background, $alpha: -0.25);
  animation: popup-fade-in 0.5s;

  .section {
    @include raised-box-shadow(
      $color-section-inset,
      $color-section-border,
      calc($size-section-outline / 2),
      $size-button-height
    );

    background-color: $color-section-background;
    border: $size-section-outline solid $color-section-border;
    border-radius: $size-section-radius;
    margin-bottom: $size-button-height;
    padding: $size-section-padding;
  }
}

.popup-message-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  max-width: 80rem;

  .button-bar {
    align-self: stretch;
  }
}

.popup-header {
  font-size: 2.2rem;
  font-weight: $font-weight-heading;
}

.section-gray-background {
  background-color: $color-section-gray;
  margin: calc($size-section-padding / -2);
  padding: $size-section-padding;
  border: $size-widget-outline solid $color-section-gray-border;
  border-radius: ($size-section-radius - $size-section-outline);
}

button {
  @include raised-button($color-widget, $color-widget-border, 0);

  margin: $size-widget-outline $size-widget-outline ($size-button-height + $size-widget-outline) $size-widget-outline;
  padding: $size-button-padding;
  text-wrap: nowrap;

  &:hover,
  &:focus-visible {
    @include raised-button($color-widget-hover, $color-widget-border-hover, 0);
  }

  &:active,
  &.selected {
    @include raised-button($color-widget-accent-hover, $color-widget-accent-border, 1);
  }

  &:focus-visible {
    @include widget-focus($color-widget-accent);

    &:active,
    &.selected {
      @include widget-focus($color-text-selected);
    }
  }

  &.dropdown {
    &:after {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 0.4em;
      margin-bottom: 0.1em;
      content: "";
      vertical-align: bottom;
      border: 0.3em solid transparent;
      border-top-color: currentColor;
    }
  }

  &.danger {
    @include striped-background($color-widget-danger, $color-widget-danger-alt);

    border-color: $color-widget-danger-border;
    color: $color-text-selected;
    font-weight: 600;
    -webkit-text-stroke: 0.2rem $color-widget-danger-border;
    paint-order: stroke;

    &:hover,
    &:focus-visible {
      @include striped-background($color-widget-danger-hover, $color-widget-danger-alt-hover);

      border-color: $color-widget-danger-border;
      color: $color-text-selected;
      outline-color: $color-text-selected;
    }

    &:active,
    &.selected {
      @include striped-background($color-widget-danger-active, $color-widget-danger-alt-active);

      border-color: $color-widget-danger-border;
      color: $color-text-selected;
      outline-color: $color-text-selected;
    }
  }
}

.button-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.2rem;
  column-gap: 0.2rem;

  button {
    flex: 0.5;
  }

  .button-bar-spacer {
    min-width: 2rem;
    flex: 0.5;
  }
}

@mixin header-tab-button($color, $checked) {
  display: inline-block;
  background-color: $color;
  border: 0.1rem solid $color-tab-border;
  border-bottom: none;
  color: $color-text;
  text-align: center;
  text-wrap: nowrap;
  min-width: 4.8rem;
  height: ($size-base-font + $size-tab-padding * 2);
  margin: 0 -0.1rem 0 0;
  padding: ($size-tab-padding + $checked * 0.1rem - 0.1rem) $size-tab-padding
    ($size-tab-padding - $checked * 0.1rem + 0.1rem) $size-tab-padding;
  transform: translateY(0.1rem * $checked);
  position: relative;

  @if $checked > 0 {
    &::after {
      position: absolute;
      content: "";
      top: ($size-base-font + $size-tab-padding * 2 - 0.2rem);
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: $color-widget-accent;
    }
  }
}

.tabbar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: $size-button-padding 0.1rem $size-button-padding 0.1rem;
  padding: 0 0.1rem 0 0;
  border-bottom: 0.1rem solid $color-tab-border;
}

label.tabbar-tab {
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    border: 0;

    &:not(:checked) + span {
      @include header-tab-button($color-tab, 0);
    }

    &:hover:not(:checked) + span {
      @include header-tab-button($color-tab-hover, 0);
    }

    &:checked + span {
      @include header-tab-button($color-tab-active, 1);
    }

    &:focus-visible + span {
      box-shadow: inset 0 0 0 0.2rem $color-widget-accent;
    }
  }

  &:first-child input + span {
    border-top-left-radius: $size-button-radius;
  }

  &:last-child input + span {
    border-top-right-radius: $size-button-radius;
  }
}

label:not(.flat-checkbox) {
  &:has(input[type="checkbox"]) {
    text-wrap: nowrap;
    margin-right: 0.4rem;
  }

  input[type="checkbox"] {
    appearance: none;
    width: $size-checkbox;
    height: $size-checkbox;
    margin-bottom: $size-button-height + 0.2rem;
    margin-right: 0.4rem;
    vertical-align: middle;

    &:not(:checked) {
      @include raised-button($color-widget, $color-widget-border, 0);

      &:hover,
      &:focus-visible {
        @include raised-button($color-widget-hover, $color-widget-border-hover, 0);
      }

      &:active {
        @include raised-button($color-widget-hover, $color-widget-border-hover, 1);
      }

      &:focus-visible {
        @include widget-focus($color-widget-accent);
      }
    }

    &:checked {
      @include raised-button($color-widget-accent, $color-widget-accent-border, 0);

      background-image: url("/assets/checkmark.svg");

      &:hover,
      &:focus-visible {
        @include raised-button($color-widget-accent-hover, $color-widget-accent-border-hover, 0);
      }

      &:active {
        @include raised-button($color-widget-accent-hover, $color-widget-accent-border-hover, 1);
      }

      &:focus-visible {
        @include widget-focus($color-text-selected);
      }
    }
  }
}

label.flat-checkbox {
  &:has(input[type="checkbox"]) {
    text-wrap: nowrap;
    margin-right: 0.4rem;
  }

  input[type="checkbox"] {
    appearance: none;
    width: $size-checkbox;
    height: $size-checkbox;
    margin-right: 0.4rem;
    vertical-align: middle;

    background-color: $color-widget-hover;
    border: $size-widget-outline solid $color-widget-border;
    border-radius: $size-button-radius;

    &:not(:checked) {
      &:hover,
      &:focus-visible,
      &:active {
        background-color: $color-field-background;
        border-color: $color-widget-border-hover;
      }

      &:focus-visible {
        @include widget-focus($color-widget-accent);
      }
    }

    &:checked {
      background-color: $color-widget-accent;
      border-color: $color-widget-accent-border;

      background-image: url("/assets/checkmark.svg");

      &:hover,
      &:focus-visible,
      &:active {
        background-color: $color-widget-accent-hover;
        border-color: $color-widget-accent-border-hover;
      }

      &:focus-visible {
        @include widget-focus($color-text-selected);
      }
    }
  }
}

input[type="text"] {
  margin: 0.1rem 0.1rem 0.1rem 0.1rem;
  padding: 0.3rem 0.3rem 0rem 0.3rem;

  background-color: $color-field-background;
  border: $size-widget-outline solid $color-section-border;
  box-shadow: inset 0 0.2rem $color-section-border;
  border-radius: $size-button-radius;

  &:disabled,
  &:read-only {
    color: $color-text-disabled;
    background-color: $color-field-background-disabled;
  }
}

@mixin range-thumb {
  width: 1.6rem;
  height: 2rem;
  margin-top: -0.9rem;
  cursor: default;
}

@mixin range-thumb-normal {
  @include raised-widget(
    $color-slider,
    $color-widget-accent-inset,
    $color-slider-border,
    $size-button-radius,
    $size-button-height,
    0
  );
  @include range-thumb;
}

@mixin range-thumb-hover {
  @include raised-widget(
    $color-slider-hover,
    $color-widget-accent-inset,
    $color-slider-border-hover,
    $size-button-radius,
    $size-button-height,
    0
  );
}

@mixin range-thumb-disabled {
  @include raised-widget(
    $color-widget-disabled,
    $color-widget-accent-inset,
    $color-widget-disabled-border,
    $size-button-radius,
    $size-button-height,
    0
  );
}

@mixin range-track {
  width: 100%;
  height: 0.8rem;
  cursor: default;
  margin: 0.6rem 0.1rem 0.6rem 0.1rem;

  background-color: $color-slider-recess;
  border: $size-widget-outline solid $color-section-border;
  box-shadow: inset 0 0.2rem $color-section-border;
  border-radius: $size-button-radius;
}

@mixin range-track-disabled {
  background-color: $color-widget-disabled;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;

  &::-webkit-slider-thumb {
    @include range-thumb-normal;

    -webkit-appearance: none;
  }

  &::-moz-range-thumb {
    @include range-thumb-normal;
  }

  &::-ms-thumb {
    @include range-thumb-normal;

    margin: 0;
  }

  &::-webkit-slider-runnable-track {
    @include range-track;
  }

  &::-moz-range-track {
    @include range-track;
  }

  &::-ms-track {
    @include range-track;
  }

  &:hover:not(:disabled) {
    &::-webkit-slider-thumb {
      @include range-thumb-hover;
    }

    &::-moz-range-thumb {
      @include range-thumb-hover;
    }

    &::-ms-thumb {
      @include range-thumb-hover;
    }
  }

  &:disabled {
    &::-webkit-slider-runnable-track {
      @include range-track-disabled;
    }

    &::-moz-range-track {
      @include range-track-disabled;
    }

    &::-ms-track {
      @include range-track-disabled;
    }

    &::-webkit-slider-thumb {
      @include range-thumb-disabled;
    }

    &::-moz-range-thumb {
      @include range-thumb-disabled;
    }

    &::-ms-thumb {
      @include range-thumb-disabled;
    }
  }

  &:focus-visible {
    &::-webkit-slider-thumb {
      @include widget-focus($color-text-selected);
    }

    &::-moz-range-thumb {
      @include widget-focus($color-text-selected);
    }

    &::-ms-thumb {
      @include widget-focus($color-text-selected);
    }
  }
}

.number-slider {
  display: flex;
  align-items: center;

  &:before {
    content: "\2060"; // Hack to allow aligning with baseline
  }

  input[type="range"] {
    margin-right: $size-label-spacing;
    min-width: (2rem + 14.4rem);
    max-width: (2rem + 25.6rem);
    background: none;
    border-radius: $size-button-radius;
    position: relative;

    &.out-of-range {
      @include striped-background($color-section-warning, $color-section-warning-alt);

      &:after {
        @include layered-pseudo-element(0, 0, 0, 0);

        z-index: 100;
        border-radius: $size-button-radius;
        outline: $color-section-warning-outline solid 0;
        animation: out-of-range-pulse 0.25s;
      }
    }
  }

  input[type="text"] {
    width: 5rem;
    text-align: right;
  }
}

.label-left {
  display: inline-block;
  text-align: right;
  margin-right: $size-label-spacing;
}

.label-mid {
  display: inline-block;
  margin: 0 $size-label-spacing;
}

.raised-scrollbar {
  padding: 0.2rem;
  pointer-events: auto;
  --os-size: #{$size-scrollbar-width};
  --os-handle-bg: #{$color-slider};
  --os-handle-bg-hover: #{$color-slider-hover};
  --os-handle-bg-active: #{$color-slider-hover};
  --os-handle-border-radius: #{$size-button-radius};
  --os-handle-border: #{$size-widget-outline} solid #{$color-slider-border};
  --os-handle-border-hover: #{$size-widget-outline} solid #{$color-slider-border-hover};
  --os-handle-border-active: #{$size-widget-outline} solid #{$color-slider-border-hover};
  --os-handle-interactive-area-offset: 0;

  .os-scrollbar-handle {
    transition: none;

    @include raised-box-shadow(
      $color-widget-accent-inset,
      $color-slider-border,
      $size-widget-outline,
      $size-button-height
    );

    &:hover {
      @include raised-box-shadow(
        $color-widget-accent-inset,
        $color-slider-border,
        $size-widget-outline,
        $size-button-height
      );
    }
  }
}

.flat-scrollbar {
  padding: 0.2rem $size-section-padding;
  pointer-events: auto;
  --os-size: #{$size-scrollbar-flat};
  --os-handle-bg: #{$color-background-widget};
  --os-handle-bg-hover: #{$color-background-widget};
  --os-handle-bg-active: #{$color-background-widget};
  --os-handle-border-radius: #{$size-section-radius};
  --os-handle-border: #{$size-widget-outline} solid #{$color-widget-border};
  --os-handle-border-hover: #{$size-widget-outline} solid #{$color-widget-border};
  --os-handle-border-active: #{$size-widget-outline} solid #{$color-widget-border};
  --os-handle-interactive-area-offset: 0;

  .os-scrollbar-handle {
    margin-bottom: calc($size-button-height / 2);
    transition: none;

    @include raised-box-shadow(
      $color-widget-accent-inset,
      $color-slider-border,
      $size-widget-outline,
      calc($size-button-height / 2)
    );

    &:hover {
      @include raised-box-shadow(
        $color-widget-accent-inset,
        $color-slider-border,
        $size-widget-outline,
        calc($size-button-height / 2)
      );
    }
  }
}
